#gritter-notice-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 351px;
    z-index: 9999;
}
.gritter-item-wrapper {
    position: relative;
    margin: 0 0 10px 0;
    padding: 0;
    background: none;
}
.gritter-top,
.gritter-bottom {
    display: none;
}
.gritter-item {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 15px;
    font-size: 12px;
    font-family: inherit;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
}
.gritter-item p {
    padding: 0 20px 0 0;
}
.gritter-close {
    display: inline !important;
    top: 6px;
    left: auto;
    right: 5px;
    background: none;
    filter: alpha(opacity=20);
    opacity: .2;
}
.gritter-close:after {
    /*width: 100%;*/
    height: 100%;
    color: white;
    content: '×';
    position: absolute;
    top: 0;
    right: 8px;
    text-indent: 0;
    line-height: 26px;
    text-align: center;
    font-size: 21px;
    font-weight: 800;
    text-shadow: 0 1px 0 black;
}
.gritter-close:hover {
    filter: alpha(opacity=50);
    opacity: .5;
}
.gritter-title {
    text-shadow: none;
    font-size: 16px;
}
.gritter-image {
    margin-left: -5px;
}
.gritter-icon .gritter-title {
    padding: 0 20px 0 40px;
}
.gritter-icon .gritter-title i {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    display: block;
}
.gritter-icon .gritter-item p {
    padding: 0 20px 0 40px;
    margin: 0;
}
.gritter-light .gritter-item {
    background: white;
    color: #484848;
    border: 1px solid #d4d4d4;
}
.gritter-light .gritter-close {
    background: white;
}
.gritter-light .gritter-close:after {
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
.gritter-default .gritter-item {
    background: #f5f5f5;
    color: #484848;
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: inset 0 0 1px 1px #ffffff, 0 2px 1px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 1px 1px #ffffff, 0 2px 1px -1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 1px 1px #ffffff, 0 2px 1px -1px rgba(0, 0, 0, 0.1);
}
.gritter-default .gritter-close:after {
    color: #484848;
    text-shadow: none;
}
.gritter-primary .gritter-item {
    background: #20a8d8;
    color: white;
    border: 1px solid #20a8d8;
}
.gritter-success .gritter-item {
    background: #79c447;
    color: white;
    border: 1px solid #79c447;
}
.gritter-info .gritter-item {
    background: #67c2ef;
    color: white;
    border: 1px solid #67c2ef;
}
.gritter-danger .gritter-item {
    background: #ff5454;
    color: white;
    border: 1px solid #ff5454;
}
.gritter-warning .gritter-item {
    background: #fabb3d;
    color: white;
    border: 1px solid #fabb3d;
}
.gritter-primary .gritter-close,
.gritter-success .gritter-close,
.gritter-info .gritter-close,
.gritter-danger .gritter-close,
.gritter-warning .gritter-close {
    opacity: 1;
}
.gritter-primary .gritter-close:after,
.gritter-success .gritter-close:after,
.gritter-info .gritter-close:after,
.gritter-danger .gritter-close:after,
.gritter-warning .gritter-close:after {
    color: white;
    text-shadow: none;
}
.gritter-facebook .gritter-item {
    background: #3b5998;
    color: white;
    border: 1px solid #3b5998;
}
.gritter-twitter .gritter-item {
    background: #00aced;
    color: white;
    border: 1px solid #00aced;
}
.gritter-linkedin .gritter-item {
    background: #4875b4;
    color: white;
    border: 1px solid #4875b4;
}
.gritter-tumblr .gritter-item {
    background: #32506d;
    color: white;
    border: 1px solid #32506d;
}
.gritter-google-plus .gritter-item {
    background: #bb4b39;
    color: white;
    border: 1px solid #bb4b39;
}
.gritter-instagram .gritter-item {
    background: #517fa4;
    color: white;
    border: 1px solid #517fa4;
}
.gritter-pinterest .gritter-item {
    background: #cb2027;
    color: white;
    border: 1px solid #cb2027;
}
.gritter-facebook .gritter-close,
.gritter-twitter .gritter-close,
.gritter-linkedin .gritter-close,
.gritter-tumblr .gritter-close,
.gritter-google-plus .gritter-close,
.gritter-instagram .gritter-close,
.gritter-pinterest .gritter-close {
    opacity: 1;
}
.gritter-facebook .gritter-close:after,
.gritter-twitter .gritter-close:after,
.gritter-linkedin .gritter-close:after,
.gritter-tumblr .gritter-close:after,
.gritter-google-plus .gritter-close:after,
.gritter-instagram .gritter-close:after,
.gritter-pinterest .gritter-close:after {
    color: white;
    text-shadow: none;
}

.gritter-item ul, .gritter-item ol {
    list-style-position: inside;
}